.container {
    padding: 10px;
    margin: 0;

    min-height: 100vh;
}

.app-tittle {
    text-align: center;
    background-color: hsl(315, 95%, 26%);
    width: 400px;
    padding: 10px 50px;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
    color: #fff;


}

.todo-flex-container {
    display: flex;
    justify-content: space-around;

}

.task-input {
    display: block;
    width: 300px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 25px 10px;
}


.btn-add-task {
    background-color: #98098a;
    color: #fff;
    border-radius: 30px;
    padding: 10px 5px;
    border: none;
    margin: 20px;
   width: 120px;
}
.btn-container{
    display: flex;
    justify-content: space-around;
}
   
.show-list-contain{
    overflow-y: scroll;
    height: 500px ;

}
.show-list-contain::-webkit-scrollbar{
    width: 5px;
}